html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section {
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  border: 4px solid blue;
  display: inline-block;
  width: min-content;
  height: auto;   
  vertical-align: top;
}

.section__item {
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  border: 4px solid blue;
  display: inline-block;
  width: 300px;
  height: auto;
}

.section__image {
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.section__title {
  padding: 6px;
  margin-top: 0;
  text-align: center;
}

.section__description {
  border: 2px solid lightblue;
  border-radius: 16px;
  background-color: lightblue;
  padding: 7px;
  height: auto;
  width: max-content;
}

.form-button {
  background-color: blue;
  color: white;
  padding: 5px;
  border: 2px solid black;
  border-radius: 8px
}

.form-group {
  margin-bottom: 20px;
}

.form-group__label {
  display: block;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto
}


.form-group__input {
  padding: 7px;
  border: 2px solid black;
  border-radius: 4px;
}

.err__form-group__input {
  padding: 7px;
  border: 2px solid red;
  border-radius: 4px;
}


.navigation {
  margin: 0px;
  padding: 10px;
  background-color: black
}

.navigation__item {
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: 11pt;
}

.navigation__item:hover {
  border: 2px solid white;
  background-color: #3b3b3b;
}

.item-block {
  margin-top: 5px;
  padding: 17px;
  width: min-content;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid lightblue;
  border-radius: 16px;
  background-color: lightblue;
  color: black;
}

.item-rename {
  margin-top: 5px;
  padding: 17px;
  width: min-content;
  height: auto;
  display: inline-block;
  border: 2px solid lightblue;
  border-radius: 16px;
  background-color: lightblue;
  color: black;
}

.login__title {
  font-size: large;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login__link {
  font-size: large;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
}

.comment__block {
  margin: 20px;
  padding: 5px;
  border-radius: 16px;
  border: 4px solid blue;
  display: block;
  min-width: 450px;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.comment {
  margin: 3px;
  width: 357px;
  height: 20px;
  border: 2px solid blue;
  background-color: lightblue;
  border-radius: 4px;
}

.comment__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-weight: bold;
  font-size: large;
}

.comment__description {
  border: 2px solid lightblue;
  border-radius: 16px;
  background-color: lightblue;
  padding: 7px;
  height: auto;
  min-width: 430px;
  width: max-content;
  text-align: justify;
}